{% extends "layout.html" %}

<!-- <style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style> -->

{% block content %}



<h1>Assign movies to customers</h1>


<form method="POST">
  {% csrf_token %}
  <div class="dropdown" >
    
   <select id="mySelect" class="dropbtn" name="movieid">
    {% for movie in movies%}
      <option value="{{movie.id}}">{{movie.mname}}</option>
     {% endfor %}
    </select>
  </div>



  <div class="dropdown" >
    
   <select id="mySelect" class="dropbtn" name="customerid">
    {% for cust in customers%}
      <option value="{{cust.id}}">{{cust.fname}}</option>
     {% endfor %}
    </select>
    
  </div>
  <button type="submit" class="dropbtn"> Assign </button>
</form>
{% endblock %}
